---
layout: layouts/base.njk
bodyClass: body-home
---
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6"><img class="d-block mx-lg-auto img-fluid" src="/img/BookArt.v5_small.png" width="200px"></div>
      <div class="col-10 col-sm-8 col-lg-6">
        <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Get the book now</h1>
        <p class="lead">Now available in print or eBook. <br/><a href="/posts/2022-11-03/" class="btn btn-outline-primary" role="button">Purchase the e-book</a><br/><br/><a href="/contact" class="btn btn-primary" role="button">Request your print copy today</a></p>
        </div>
      </div>
    <div>
    </div>
  </div>
  <div class="post-body">
    {{ content | safe }}
  </div>
