---
layout: layouts/base.njk
bodyClass: body-home
---
<div class="container col-xxl-8">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6"><img class="d-block mx-lg-auto img-fluid" src="/img/BookArt.v5_small.png" width="300px"></div>
      <div class="col-10 col-sm-8 col-lg-6">
        <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Get the book now</h1>
        <p class="lead">Available in print or eBook. <br/>
        <a href="/posts/2022-11-03/" class="btn btn-outline-primary" role="button" data-toggle="tooltip" title="Electronic book for your phone, iPad or other devices available on Google Play for $2.99">Click here if you are interested in the eBook</a><br/><br/>
        <a href="https://fran-gale-books.square.site/product/paperback/1?cp=true&sa=false&sbp=false&q=false&category_id=2" class="btn btn-primary" role="button" target="_blank" title="This link will redirect you to our Square site for placing the order">Order your paperback copy today at fran-gale-books.square.site</a></p>
        </div>
      </div>
  <div>
</div>
<div class="post-body">
  {{ content | safe }}
</div>
