---
layout: layouts/base.njk
bodyClass: container
---
<div class="container pb-4" data-pagefind-body>
  <div class="post-header">
    <h1 class="pb-2">News</h1>
    ========================================
    <h2 class="h2">{{ title }}</h2>

    <nav class="sm">
    {% for tag in tags %}
      <a href="/tags/{{ tag }}/" class="badge text-bg-warning" title="Category: {{ tag }}">{{ tag }}</a>
    {% endfor %}
    </nav>

    <time class="small" datetime="{{ date | date('DATETIME') }}">
      Updated: {{ date | date('HUMAN_DATE') }}
    </time>
  </div>

  <div class="post-body">
    {{ content | safe }}
  </div>
</div>

<nav class="post-navigation">
  <ul>
    {%- set previousPost = search.previousPage(url, "type=posts") %}
    {%- if previousPost %}
    <li>
      ← Previous: <a href="{{ previousPost.data.url }}" rel="prev">{{ previousPost.data.title }}</a>
    </li>
    {% endif %}

    {%- set nextPost = search.nextPage(url, "type=posts") %}
    {%- if nextPost %}
    <li>
      <strong>Next: <a href="{{ nextPost.data.url }}" rel="next">{{ nextPost.data.title }}</a> →</strong>
    </li>
    {% endif %}
  </ul>
</nav>